<p>Select which attributes to include in your query:</p>
<p>(P) = Primary Star</p>
<p>(S) = Secondary Star</p>
<mat-form-field class="attribute-list">
  <mat-chip-list #chipList aria-label="Attributes:" [multiple]="true">
    <mat-chip
      *ngFor="let variable of varList"
      [value]="variable.name"
      [selectable]="true"
      #chip="matChip"
      (click)="chip.selected ? chip.deselect() : chip.select()"
      (selectionChange)="selected($event)"
    >
      {{ variable.name }}
    </mat-chip>
  </mat-chip-list>
</mat-form-field>
