<h4>Select which attributes to include in your query:</h4>
<span>(P) = Primary Star</span>
<span>(S) = Secondary Star</span>
<div style="display: flex; margin: 10px auto auto;" *ngIf="_filteredAttributes">
  <div style="flex: 1">
    <h4>({{(_filteredAttributes | async).length}}) Availible Attributes:</h4>
    <mat-selection-list [(ngModel)]="selectedAvailibleAttributes">
      <mat-list-option class="list-item" *ngFor="let attribute of _filteredAttributes | async" [value]="attribute">
        {{attribute.display_name}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div style="flex: 0.5; margin:auto;">
    <div class="button-container">
      <button mat-raised-button color="accent" (click)="add($event)">
        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_forward</mat-icon>
      </button>
    </div>
    <div class="button-container">
      <button mat-raised-button color="accent" (click)="remove($event)">
        <mat-icon aria-hidden="false" aria-label="Example home icon">arrow_back</mat-icon>
      </button>
    </div>
  </div>
  <div style="flex: 1">
    <h4>({{formArray.getRawValue().length}}) Selected Attributes:</h4>
    <mat-selection-list class="list-item" [(ngModel)]="selectedSelectedAttributes">
      <mat-list-option *ngFor="let attribute of formArray.getRawValue()" [value]="attribute">{{attribute.display_name}}
      </mat-list-option>
    </mat-selection-list>
  </div>
</div>