mat-selection-list {
  max-height: 300px;
  overflow-y: auto;
}

span {
  margin: 0 10px 5px 0;
  font-size: smaller;
}

h4 {
  margin: auto auto 5px;
}

.list-item {
  font-size: small;
}

.button-container {
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
}
