
<router-outlet></router-outlet>

<a mat-fab color="primary" class="nextArrow" [routerLink]="['/query/attribute']">
  <mat-icon svgIcon="arrow">arrow</mat-icon>
</a>

<a [routerLink]="['/query/db']">to db</a> <br/>
<a [routerLink]="['/query/attribute']">to attribute</a> <br/>
<a [routerLink]="['/query/weight']">to weight</a> <br/>
<a [routerLink]="['/query/distanceFunc']">to distance function</a> <br/>
<a [routerLink]="['/query/clusterMethod']">to cluster method</a> <br/>
<a [routerLink]="['/query/graph']">to graph</a> <br/>
<a [routerLink]="['/query/step']">to stepper version</a> <br/>
