<h3>Define the weights of your selected attributes:</h3>
<mat-checkbox (change)="changeInputMode($event)">
  Allow empty inputs.
</mat-checkbox>
<div class="weight-list">
  <div *ngFor="let att of attributeArray; index as i">
    <mat-form-field>
      <mat-label>{{ att.value.display_name }}</mat-label>
      <input matInput type="number" [formControl]="weightArray.at(i)" rquired/>
    </mat-form-field>
  </div>
</div>
<p>Note: Please enter weights as percent values (e.g. enter 1 for a value of 0.01)</p>