<!-- <mat-card>
  <mat-card-title> Set Weight Functions </mat-card-title>
  <mat-card-content>
    <div *ngFor="let att of weightAttributes; index as i">
        <mat-label>{{att.att}}</mat-label>
        <mat-slider [(value)]="att.weight" min="0.0" max="1.0" step="0.01"></mat-slider>
        <mat-label>{{att.weight}}</mat-label>
    </div>
  </mat-card-content>
</mat-card> -->

<p>Define the weights of your selected attributes:</p>
<div *ngFor="let att of attributeArray.controls; index as i">
  <mat-form-field>
    <mat-label>{{ att.value }}</mat-label>
    <input matInput type="number" [formControl]="weightArray.at(i)" />
  </mat-form-field>
</div>
<div>
  <button mat-button matStepperPrevious type="button">Back</button>
  <button mat-button matStepperNext type="button">Next</button>
</div>