<!-- <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot> -->

<button mat-raised-button color="primary" (click)="configureGraph()">Configure Graph</button>

<div class="graphBlock">
  <div class="graph">
    <plotly-plot [data]="graph2D.data" [layout]="graph2D.layout" [hidden]="clusteredData.graphType != 0"></plotly-plot>
    <plotly-plot [data]="graph3D.data" [layout]="graph3D.layout" [hidden]="clusteredData.graphType != 1"></plotly-plot>
  </div>
</div>

<div class="clusterSelect">
  <mat-radio-group aria-label="Cluster Select" [(ngModel)]="selectedCluster" (change)="zoomCluster()">
    <mat-radio-button value="all">All</mat-radio-button> <br/>
    <mat-radio-button value="0">Cluster 1</mat-radio-button> <br/>
    <mat-radio-button value="1">Cluster 2</mat-radio-button> <br/>
    <mat-radio-button value="2">Cluster 3</mat-radio-button> <br/><br/>
  </mat-radio-group>
</div>

<!-- <app-configure-graph></app-configure-graph> -->
<!-- <button mat-raised-button color="primary" (click)="getBackendDataTest()">Get Clustered Query</button> -->
